@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply font-sans antialiased bg-white text-gray-900 dark:bg-black dark:text-gray-100 transition-colors duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .font-serif {
    font-family: 'Merriweather', serif;
  }

  .font-sans {
    font-family: 'Inter', sans-serif;
  }
}